<!-- Footer
		============================================= -->
<footer id="footer" class="dark">



    <!-- Copyrights ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 All Rights Reserved by Occiland.
            </div>

        </div>

    </div>
    <!-- #copyrights end -->

</footer>
<!-- #footer end -->