<header id="header" class=" full-header page-section dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
                      ============================================= -->
            <div id="logo">
                <a href="logo  " class="standard-logo" data-dark-logo=""><img src="images/logo.png" alt="logo"></a>
                <a href="logo  " class="retina-logo" data-dark-logo=""><img src="images/logo.png" alt="Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
                      ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current"><a href="index  ">
                            <div>Accueil</div>
                        </a>
                    <li><a href="carte">
                            <div>Carte du Parc</div>
                        </a></li>
                    <li><a href="poleaquatique  ">
                            <div>Pôle</div>
                        </a>
                        <ul>
                            <li>
                                <a href="poleaquatique  ">
                                    <div>
                                        Parc Aquatique
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="polerealite  ">
                                    <div>
                                        Réalité Virtuelle
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="polesport  ">
                                    <div>
                                        Pôle Sportif
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="parcenfant  ">
                                    <div>
                                        Parc enfants
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="reservation  ">
                            <div>Réservation</div>
                        </a>
                        <ul>
                            <li>
                                <a href="hotel  ">
                                    <div>
                                        Hotel
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="parc  ">
                                    <div>
                                        Parc
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <div id="top-cart">
                    <a onclick="window.location.href='inscription  '" id="top-cart-trigger"><i class="icon-user"></i></a>
                </div><!-- #top-cart end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>