<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
	============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/dark.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/swiper.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>2 Groupe</title>



</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>

    <!-- #header end -->


    <!-- Content
		============================================= -->
    <section id="content">

      <div class="section notopborder nomargin ">
        <div class="container clearfix">
          <h3>Dormir à Occi’land</h3>
          <div class="row justify-content-center">

            <div class="col-md-6">
              <div class="card">

                <div class="card-body">
                  <p>
                    Pour s’offrir des vacances à Occi’land, rien de mieux que rester dans nos hébergements.
                    Vous venez en couple ? En famille ? Vous aimez l’aventure ? Nous avons des options très adaptées pour vous !!!

                  </p>
                  <p>
                    Si vous aimez le confort et également la tranquillité de la nature…
                    Vous trouverez votre bonheur dans nos chalets ! Tout y est prévu pour votre confort !!! N’oubliez pas de ramener vos draps et vos serviettes.
                    *Vous pouvez louer des draps, des serviettes et des kits bébés sous réservation.

                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="section notopborder nomargin dark ">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="text-center">Chalet Occi’amoureaux</h3>
                </div>
                <div class="card-body">
                  <p class="text-center">
                    Chalet 1 chambre/2 personnes (25 m2)
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <img class="img-fluid" src="images/001.png" />

                    </div>
                    <div class="col-md-6">
                      <img class="img-fluid" src="images/002.png" />

                    </div>
                  </div>
                  <br>
                  <br>
                  <p class="text-center">
                    Equipement :
                    Panneaux Solaires, 1 lit king size, TV samsung, canapé, table, chaises, chauffage, coffre-fort, WC et salle de bain, cuisine équipée, terrasse.


                  </p>
                  <br />
                  <br />
                  <button class="button button-border button-info button-rounded uppercase nomargin"
                          onclick="window.location.href='hotel'" >Réservez
                  </button>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="text-center">Chalet Occi’family </h3>
                </div>
                <div class="card-body">
                  <p class="text-center">
                    Chalet 2 chambres/5 personnes (40 m2)
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <img class="img-fluid" src="images/003.png" />

                    </div>
                    <div class="col-md-6">
                      <img class="img-fluid" src="images/004.png" />

                    </div>

                  </div>
                  <br>
                  <br>


                  <p class="text-center">
                    Equipement :
                    Panneaux Solaires, 1 lit king size, 1 lit superposé, canapé pour le couchage d’un enfant, TV samsung, table, chaises, chauffage, coffre-fort, WC et salle de bain, cuisine équipée, terrasse.


                  </p>
                  <br>
                  <br>

                  <button class="button button-border button-info button-rounded uppercase nomargin"
                          onclick="window.location.href='hotel'" >Réservez
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="section notopborder nomargin ">
        <div class="container clearfix">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-body">

                      <h3 class="text-center">Occi’Camping</h3>
                      <div class="col-md-12">

                      <ul>
                        <li>
                           L’aire de camping-car "Occi’Camping" vous accueille sans réservation et selon disponibilité
                        </li>
                        <li>
                           Arrivée et check-in de 9h à 17h
                        </li>
                        <li>
                           Accès à une borne électrique 10A
                        </li>
                        <li>
                           Possibilité de vidange toilettes et eaux usées
                        </li>
                        <li>
                           Borne de remplissage d'eau potable (1€)
                        </li>
                        <li>
                           Wifi par carte bancaire
                        </li>
                      </ul>
                    </div>

                  <img class="img-fluid" src="images/006.png" />
                  <br>
                  <br>

                  <button class="button button-border button-info button-rounded uppercase nomargin"
                          onclick="window.location.href='hotel'" >Réservez
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <!-- Footer
		============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <!-- Footer Widgets ============================================= -->
      <div class="footer-widgets-wrap clearfix">
        <div class="row">
          <div class="col-md-4">
            <h4>Siége :</h4>
            <p>Siège : 30, rue P.H. SPAAK -
              <br>
              26000 VALENCE<br>
              <strong>Phone:</strong>
              04 58 17 71 93</p>
          </div>
          <div class="col-md-4">
            <h4>Comment nous rejoindre ?</h4>
            <p>Vous êtes carrossiers ?<br>
              Vous souhaitez vous regrouper ?<br>
              “Rejoignez CARFLEX®SAS”</p>
          </div>
          <div class="col-md-4">
            <div class="widget subscribe-widget clearfix">
              <h5>
                <strong>Abonnez</strong>-vous a notre newsletter !</h5>
              <div class="widget-subscribe-form-result"></div>
              <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="icon-email2"></i>
                    </div>
                  </div>
                  <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Entrer votre Email">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Abonnez-vous !</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2014 All Rights Reserved by Carflex.
        </div>

        <div class="col_half col_last">
          SAS au capital de 120 000 euros - SIRET 521 399 725 00014 - APE 7112B - RCS Montpellier 521 399 725 - N° enregistrement formation 91340752734
        </div>

      </div>

    </div>

    </div>
    <!-- #copyrights end -->

  </footer>
  <!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
	============================================= -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/plugins.js"></script>

  <!-- Footer Scripts
	============================================= -->
  <script src="javascripts/functions.js"></script>

  <script src="https://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="javascripts/jquery.gmap.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="javascripts/colormind.js"></script>
  <script>
    var colorMind = ColorMind.getInstance();
    var colorMindOptions = {
      target: $(document.body),
      "left": false
    }
    colorMind.initialize(colorMindOptions);
  </script>
  <script>
    $('#google-map').gMap({
      address: 'Melbourne, Australia',
      maptype: 'ROADMAP',
      zoom: 14,
      markers: [{
        address: "Melbourne, Australia",
        html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
        icon: {
          image: "images/icons/map-icon-red.png",
          iconsize: [32, 39],
          iconanchor: [32, 39]
        }
      }],
      doubleclickzoom: false,
      controls: {
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false
      }

    });
  </script><!-- Google Map End -->

</body>

</html>
