<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
	============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/dark.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>Réservation Hotel</title>

  <style>

    .pricing-tenure-switcher { position: relative; }

  	.pricing-tenure-switcher .pts-left,
  	.pricing-tenure-switcher .pts-right,
  	.pricing-tenure-switcher .pts-switcher {
  		display: inline-block;
  		margin: 0 10px;
  		height: 30px;
  		overflow: hidden;
  	}

  	.pricing-tenure-switcher .pts-left,
  	.pricing-tenure-switcher .pts-right {
  		font-size: 16px;
  		font-weight: 600;
  		color: #AAA;
  		line-height: 30px;
  	}

  	.pricing-tenure-switcher .pts-switch-active { color: #333; }

  	.pricing-tenure-switcher .pts-switcher label { margin-bottom: 0; }

  </style>


</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>



    <!-- Content
		============================================= -->
    <section id="content">




      <div class="section notopborder nomargin dark">
        <div class="container clearfix">

          <h3>Prix Hébergement</h3>

          <img src="images/prixhotel.png" class="img-fluid box-shadow-5" />

        </div>
      </div>

      <div class="section notopborder nomargin ">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
              <p class="text-center">
                Offre Spéciale !!!! Si vous avez passé la journée au parc, bénéficiez de 10% de réduction sur la nuit aux chalets !
                Pour les campeurs ! Si vous avez la carte ACSI, bénéficiez du 10% de réduction en basse saison (Avril – Juin et Septembre – Novembre).
                Hors Saison :
                L’Air de Camping-Car reste ouverte (8 euros/nuit)
                Nos chalets sont à disposition sous réservation.

              </p>
            </div>
            <div class="col-md-2">

            </div>
          </div>
        </div>
      </div>

    </section>




    <!-- Footer
		============================================= -->
    <% include tools/footer.ejs %>
  <!-- #copyrights end -->

  </footer>
  <!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
	============================================= -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/plugins.js"></script>

  <!-- Footer Scripts
	============================================= -->
  <script src="javascripts/functions.js"></script>

  <script src="https://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="javascripts/jquery.gmap.js"></script>

  <script>
    $('#google-map').gMap({
      address: 'Melbourne, Australia',
      maptype: 'ROADMAP',
      zoom: 14,
      markers: [{
        address: "Melbourne, Australia",
        html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
        icon: {
          image: "images/icons/map-icon-red.png",
          iconsize: [32, 39],
          iconanchor: [32, 39]
        }
      }],
      doubleclickzoom: false,
      controls: {
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false
      }

    });
  </script><!-- Google Map End -->

</body>

</html>
