<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>

    <!-- Stylesheets
      ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/dark.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/animate.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css"/>

    <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Document Title
      ============================================= -->
    <title>2 Groupe</title>


</head>

<body class="stretched">

<!-- Document Wrapper
  ============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>

    <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark" style="background-image: url('images/enfant.jpg');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-animate="fadeInUp " style="text-shadow:1px 1px 20px #000000">Parc Enfants</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Content
		============================================= -->
    <section id="content">


      <div class="section nomargin notopborder ">
        <div class="container clearfix">
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center"> Parc Enfants Pour nos tous petits…</h3>
      </div>
      <div class="card-body">
        <p class="text-center">
          Vos enfants feront le plein des émotions a Occi’Kids ! Nous avons pour eux des attractions très amusantes avec une touche éducative (sur notre belle région occitane) et également un mini-club, ou vous pourrez laisser vos enfant la matinée et l’après-midi.
        </p>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>


      <div class="section nomargin notopborder dark">

        <div class="container clearfix">

      <h3>Attraction</h3>

      <div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">

          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                  <img src="images/011.png" alt="Open Imagination">
              </div>
              <div class="portfolio-desc">
                <h3>Carrousel</h3>
                <span>Attraction</span>

              </div>
            </div>
          </div>

          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                  <img src="images/012.png" alt="Open Imagination">
              </div>
              <div class="portfolio-desc">
                <h3>Trampolines Kid’s Zone</h3>
                <span>Attraction</span>

              </div>
            </div>
          </div>


          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                  <img src="images/014.png" alt="Open Imagination">
              </div>
              <div class="portfolio-desc">
                <h3>Jeux Gonflables</h3>
                <span>Attraction</span>

              </div>
            </div>
          </div>



          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                  <img src="images/015.png" alt="Open Imagination">
              </div>
              <div class="portfolio-desc">
                <h3>Miniclub</h3>
                <span>Animations</span>
              </div>
            </div>
          </div>

          <div class="oc-item">
            <div class="iportfolio">
              <div class="portfolio-image">
                  <img src="images/016.png" alt="Open Imagination">
              </div>
              <div class="portfolio-desc">
                <h3>Spectacles</h3>
                <span>Animations</span>
              </div>
            </div>
          </div>


        </div>
              </div>
            </div>




    </section>


    <!-- Footer
		============================================= -->
<!-- #copyrights end -->
    <% include tools/footer.ejs %>
<!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
  ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
  ============================================= -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/plugins.js"></script>
<!-- Footer Scripts
  ============================================= -->
<script src="javascripts/functions.js"></script>
<script src="javascripts/jquery.gmap.js"></script>


</body>

</html>
