<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="SemiColonWeb"/>

    <!-- Stylesheets
      ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/dark.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/animate.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css"/>

    <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Document Title
      ============================================= -->
    <title>2 Groupe</title>


</head>

<body class="stretched">

<!-- Document Wrapper
  ============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>

    <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark" style="background-image: url('images/sensation.jpg');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-animate="fadeInUp " style="text-shadow:1px 1px 20px #000000">Parc
                                    Sensations</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Content
		============================================= -->
    <section id="content">


        <div class="row nopadding common-height">

            <div class="col-lg-12 dark col-padding ohidden">
                <p style="color: black;font-size: 20px;text-align: center;">
                <span style="">AMIS</span ><br><br>
                L'équipe de Occi’games vous propose une expérience hors du commun dans son parcours sensoriel !

                Nous vous proposons de vivre une aventure sensationnelle de 4 à 12 personnes pendant pratiquement 2h ! À
                vous de venir surmonter vos peurs et faire preuve de courage à travers nos différents ateliers !
                <br><br>
                <span class="text-center">Entreprise</span><br><br>
                Vous cherchez un endroit pour vous détendre et passer un moment inoubliable après votre journée au
                travail ?!
                Occi’games est la solution ! Il va falloir remonter les manches et relevez des défis hors du commun.
                Dans le noir total, traversez notre parcours sur le thème des cinq sens. L’occasion de découvrir qui est
                le plus froussard entre Jean-Claude de la Compta ou Julie du Marketing. Une activité insolite et
                parfaite pour fêter un pot de départ ou simplement pour se détendre et s'amuser.
                <br><br>
                <span class="text-center">FAMILLE</span><br><br>
                Vous souhaitez faire une sortie en famille éducative et amusante ?

                Pendant près de 2h, l’Occi’games vous accueille pour vous faire vivre des moments de fous rires et
                d’émotions tout en découvrant les saveurs de la Région !

                Aiguisez vos sens, réveillez les et préparez les car nous allons les mettre à l’épreuve!
                </p>
            </div>
        </div>

        <div class="clear"></div>


    </section>


    <!-- Footer
		============================================= -->
    <!-- #copyrights end -->
    <% include tools/footer.ejs %>
    <!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
  ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
  ============================================= -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/plugins.js"></script>
<!-- Footer Scripts
  ============================================= -->
<script src="javascripts/functions.js"></script>
<script src="javascripts/jquery.gmap.js"></script>


</body>

</html>
