<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
	============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/dark.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/animate.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/swiper.css" type="text/css" />
  <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="stylesheets/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Document Title
	============================================= -->
  <title>2 Groupe</title>



</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    <% include tools/navbar.ejs %>

    <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">

      <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
          <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('images/realite.jpg');">
              <div class="container clearfix">
                <div class="slider-caption slider-caption-center">
                  <h2 data-animate="fadeInUp " style="text-shadow:1px 1px 20px #000000">Pôle Réalité Virtuel</h2>
                </div>
              </div>
            </div>
          </div>

        </div>

    </section>


    <!-- Content
		============================================= -->
    <section id="content">



      <div class="row nopadding common-height">

        <div class="col-lg-6 dark col-padding ohidden" style="background-color: #5182B2;">
          <div>
            <h3 class="uppercase" style="font-weight: 600;">VR Simulator Extreme-Machine
            </h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pSWB8MV7Wkw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br />
            <br />
            <p>
              La différence innovante du simulateur est que les lunettes de réalité virtuelle permettent à l'utilisateur de voir l'image autour de lui par 360 degrés lorsqu'il tourne la tête.
              Dans le même temps, la plate-forme d'attraction répond à la position du corps dans l'espace et permet de contrôler le jeu. L'utilisateur influence le processus du jeu, les sensations du simulateur VR sont améliorées et la ligne entre
              le virtuel et le réel est effacée.
            </p>
            <i class="icon-bulb bgicon"></i>
          </div>
        </div>

        <div class="col-lg-6 dark col-padding ohidden" style="background-color: #8DC6FF;">
          <div>
            <h3 class="uppercase" style="font-weight: 600;">Jeux Oculus Rift pour Extreme-Machine</h3>

            <img class="img-fluid" src="images/aquatique.jpg" />
            <br />
            <br />
            <p>

            </p>
            <i class="icon-cog bgicon"></i>
          </div>
        </div>


      </div>

      <div class="clear"></div>


    </section>



    <!-- Footer
		============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets ============================================= -->
        <div class="footer-widgets-wrap clearfix">
          <div class="row">
            <div class="col-md-4">
              <h4>Siége :</h4>
              <p>Siège : 30, rue P.H. SPAAK -
                <br>
                26000 VALENCE<br>
                <strong>Phone:</strong>
                04 58 17 71 93</p>
            </div>
            <div class="col-md-4">
              <h4>Comment nous rejoindre ?</h4>
              <p>Vous êtes carrossiers ?<br>
                Vous souhaitez vous regrouper ?<br>
                “Rejoignez CARFLEX®SAS”</p>
            </div>
            <div class="col-md-4">
              <div class="widget subscribe-widget clearfix">
                <h5>
                  <strong>Abonnez</strong>-vous a notre newsletter !</h5>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                  <div class="input-group divcenter">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="icon-email2"></i>
                      </div>
                    </div>
                    <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Entrer votre Email">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit">Abonnez-vous !</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Copyrights ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2014 All Rights Reserved by Carflex.
          </div>

          <div class="col_half col_last">
            SAS au capital de 120 000 euros - SIRET 521 399 725 00014 - APE 7112B - RCS Montpellier 521 399 725 - N° enregistrement formation 91340752734
          </div>

        </div>

      </div>

  </div>
  <!-- #copyrights end -->

  </footer>
  <!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
	============================================= -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/plugins.js"></script>

  <!-- Footer Scripts
	============================================= -->
  <script src="javascripts/functions.js"></script>

  <script src="javascripts/jquery.gmap.js"></script>

  <script>
    $('#google-map').gMap({
      address: 'Melbourne, Australia',
      maptype: 'ROADMAP',
      zoom: 14,
      markers: [{
        address: "Melbourne, Australia",
        html: '<div style="width: 300px;"><h4 style="margin-bottom: 8px;">Hi, we\'re <span>Envato</span></h4><p class="nobottommargin">Our mission is to help people to <strong>earn</strong> and to <strong>learn</strong> online. We operate <strong>marketplaces</strong> where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn <strong>creative skills</strong>.</p></div>',
        icon: {
          image: "images/icons/map-icon-red.png",
          iconsize: [32, 39],
          iconanchor: [32, 39]
        }
      }],
      doubleclickzoom: false,
      controls: {
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false
      }

    });
  </script><!-- Google Map End -->

</body>

</html>
